/* main section /*======= =======*/
/* Sub-Section /*-------  -------*/


/*=======MAIN ACCESSIBILITY COMPONENETS=======*/

/*-------FOCUS INDICATOR-------*/
  :focus {
    outline: none;
    box-shadow:
    0px 0px 0px 1px #000000,
    0px 0px 0px 3px #FFFFFF;
  }

/*-------SR-ONLY TEXT-------*/
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin-left: 350px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
  }

/*-------DISABLED LINKS/BUTTONS-------*/

  .current-main-nav-page[aria-disabled="true"] {
    color: #606060;
    background: #EDC9D4;
    pointer-events: none;
    cursor: not-allowed;
    text-decoration: none;
  }

/* SKIP TO-LINKS */

  /*-------SKIP TO MAIN-HIDDEN-------*/
  .Homepage-skip-to-main-link {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }
  

  /*------- SKIP TO MAIN-FOCUSED -------*/
  .Homepage-skip-to-main-link:focus {
    display: inline-block;
    margin: 5px;  
    color: #C7E0FF;
    background: #000000;
    border: 2px solid #FFFFFF;
    text-decoration: none;
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    left: auto;
    top: auto;
    padding: 5px;
  }


  /*------- SKIP TO FOOTER-HIDDEN -------*/
  .Homepage-skip-to-footer-link {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }


  /*------- SKIP TO FOOTER-FOCUSED -------*/
  .Homepage-skip-to-footer-link:focus {
    display: inline-block;
    margin: 5px;
    color: #C7E0FF;
    background: #000000;
    border: 2px dashed #FFFFFF;
    text-decoration: none;
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    left: auto;
    top: auto;
    padding: 5px;
    margin: 5px;
   }


   /*------- BACK TO TOP-HIDDEN -------*/
  .Homepage-back-to-top {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }
  
  
  /*------- BACK TO TOP-FOCUSED -------*/
  .Homepage-back-to-top:focus {
    display: inline-block;
    color: #C7E0FF;
    background: #000000;
    border: 2px dashed #FFFFFF;
    text-decoration: none;
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    left: auto;
    top: auto;
    padding: 5px;
    margin: 5px;
    }



/*=======HOMEPAGE WIDE STYLING=======*/

  /*-------SITE BACKGROUND-------*/
  .Homepage-main-body {
    display: block;
    background: #7D68AD;
    box-shadow: 3px 3px 10px #CFCFFF;
    margin: 10px;
    padding: 10px;
  }


  /*-------HOMEPAGE MAIN LOGO-------*/
  .Homepage-main-logo {
    margin: 10px;
    padding: 10px;
  }
  

  /*-------HEADER STYLING-------*/
  .Homepage-main-header {
    background: #8797D4;
    border: 5px solid #7ED6CA;
    box-shadow: 3px 3px 10px #D6E5DB;
    margin: 0px;
    padding: 0px;
  }
  

  /*-------MAIN CONTENT STYLING-------*/
  .Homepage-main-main-content {
    background: #8797D4;
    border: 5px solid #7ED6CA;
    box-shadow: 3px 3px 10px #D6E5DB;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
  }


  /*-------HOMEPAGE MAIN H1-------*/
  .Homepage-main-h1 {
    color: #FFFFFF;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: -1px 1px 0.5px #000000
  }

  
/*-------FOOTER STYLING-------*/
  .Homepage-main-footer {
    background: #8797D4;
    border: 5px solid #7ED6CA;
    box-shadow: 3px 3px 10px #D6E5DB;
    margin: 5px;
    padding: 10px;
  }

/*=======MAIN NAV MENU STYLING=======*/

/*-------MAIN NAV MENU STYLING-------*/
.Homepage-main-nav-menu {
  background: #DF81A2;
  border: 2px solid #7ED6CA;
  box-shadow: 3px 3px 10px black;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}


/*-------NAV LIST CONTAINER-------*/
.Homepage-main-nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
  margin: 0px;
}


/*-------TOP-LEVEL MENU ITEMS-------*/
.Homepage-main-nav-item {
  position: relative;
  display: inline-block;
  margin-right: 0px;
}


/*-------TOP-LEVEL NAV LINKS ONLY-------*/
.Homepage-main-nav-item > a {
  display: inline-block;
  font-size: 23pt;
  margin-left: 40px;
  text-decoration: underline;
  color: #000000;
  padding: 2px 4px;
  border-radius: 4px;
}



.Homepage-main-nav-item > a:focus {
  color: #000000;
  background: #7ED6CA;
  display: inline;
  font-size: 23pt;
  margin-left: 40px;
  text-decoration: underline;
}

.Homepage-main-nav-item > a:hover {
  color: #000000;
  background: #7ED6CA;
  display: inline;
  font-size: 23pt;
  margin-left: 40px;
  text-decoration: underline;
}

/* BUTTON STYLING */
.Homepage-main-nav-item button {
  padding: 0px;
  border: none;
  width: 30px;
  height: 20px;
  background: transparent;
  color: #000000;
}

.Homepage-main-nav-item button:focus {
  background: #7ED6CA;
  color: #000000;
  padding: 0px;
  border: none;
  width: 30px;
  height: 20px;
}

.Homepage-main-nav-item button:hover {
  background: #7ED6CA;
  color: #000000;
  padding: 0px;
  border: none;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.Homepage-main-nav-item button svg {
  padding: 0px;
  border: 1px solid #000000;
  width: 30px;
  height: 20px;
  fill: none;
}


/* SUB-MENU ======================================================== */

/* SUB-MENU WRAPPER (HIDDEN BY DEFAULT) */
.Homepage-main-nav-sub-menu {
  display: none;
  position: absolute;
  text-align: center;
  top: 47px;
  left: 0px;
  background-color: #7ED6CA;
  border-left: 4px solid #E4F0C9;
  border-right: 4px solid #E4F0C9;
  border-top: 4px solid #E4F0C9;
  padding-left: 0px;
  margin-left: 0px;
  list-style: none;
}

/* SUB-MENU ITEMS */
.Homepage-main-nav-sub-menu-item {
  display: block;
  border-bottom: 4px dashed #E4F0C9;
}

/* SUB-MENU LINKS */
.Homepage-main-nav-sub-menu-item a {
  margin-left: 0px;
  font-size: 20px;
  padding: 5px 10px;
  display: block;
  text-decoration: none;
  color: black;
}

/* WHEN MENU IS EXPANDED */
.Homepage-main-nav-sub-menu.expanded {
  display: block;
}



/* COMPONENTS ======================================================== */

.carousel-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 704px;
  margin: 20px auto;
  position: relative;
}

.carousel-container {
  width: 608px;
  height: 210px;
  overflow: hidden;
  position: relative;
}

.carousel-track {
  display: flex;
  transition: transform 1s ease-in-out;
}


/* CAROUSEL TILES */

.carousel-tile {
  width: 300px;
  height: 200px;
  flex-shrink: 0;
  box-sizing: border-box;
  margin: 2px;
  box-shadow: 0px 5px 2px black;
  border: 1px solid #000000;
}

.carousel-tile-1 {
  background: #DCCCEC;
  color: #000000;
  font-size: 14pt;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.carousel-tile-2 {
  background: #BCD8EC;
  color: #000000;
  font-size: 14pt;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.carousel-tile-3 {
  background: #D6E5BD;
  color: #000000;
  font-size: 14pt;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.carousel-tile-4 {
  background: #F9E1A8;
  color: #000000;
  font-size: 12pt;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.carousel-tile-5 {
  background: #FFDAB4;
  color: #000000;
  font-size: 14pt;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.carousel-tile-6 {
  background: #FFCBE1;
  color: #000000;
  font-size: 12pt;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* CAROUSEL BUTTONS*/

.carousel-button-next {
  background: #7ed6ca;
  color: black;
  border: 2px solid #000;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  margin-left: 0.2rem;
  cursor: pointer;
  user-select: none;
}

.carousel-button-prev {
  background: #7ed6ca;
  color: black;
  border: 2px solid #000;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  user-select: none;
}

.carousel-button-prev:focus {
  background: #7D68DA;
  color: #7ed6ca;
  border: 2px solid #000000;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  user-select: none;
}

.carousel-button-next:focus {
  background: #7D68DA;
  color: #7ed6ca;
  border: 2px solid #000000;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  user-select: none;
}

.carousel-button-prev:hover {
  background: #7D68DA;
  color: #7ed6ca;
  border: 2px solid #000000;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  user-select: none;
}

.carousel-button-next:hover {
  background: #7D68DA;
  color: #7ed6ca;
  border: 2px solid #000000;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  user-select: none;
}